<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mws.com.bluetoothle">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- see https://stackoverflow.com/a/37015725/1869297 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--     If you want to declare that your app is available to BLE-capable devices only -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="mws.com.bluetoothle.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mws.com.bluetoothle.PeripheralRoleActivity" />

        <activity android:name="mws.com.bluetoothle.CentralRoleActivity" />

        <activity android:name="mws.com.bluetoothle.DeviceConnectActivity" />

        <service
            android:name="mws.com.bluetoothle.PeripheralAdvertiseService"
            android:enabled="true"
            android:exported="false"/>

        <service android:name="mws.com.bluetoothle.CentralService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>